.status-card {
  background-color: transparent;
  border-radius: 16px;
  border: 1px solid rgba(51, 51, 51, 0.646);
  .card-header {
    border-bottom: 0;
    background-color: transparent;
    font-size: small;
  }
}

.disconnectBtn {
  text-align: center;
  outline: none;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border: 1px solid #4d8fea;
  color: #2172e5;
  background-color: transparent;
  border-radius: 12px;
  width: fit-content;
  font-weight: 400;
  margin-left: 8px;
  font-size: 0.825rem;
  padding: 4px 6px;
}
.copy_view {
  .btn-copy {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 500;
    color: rgb(136, 141, 155);
    flex-shrink: 0;
    display: flex;
    text-decoration: none;
    font-size: 0.825rem;
    &:hover {
      color: rgb(195, 197, 203);
    }
    &:active {
      color: rgb(195, 197, 203);
    }
    &:focus {
      color: rgb(195, 197, 203);
    }
  }
}
.view_link {
  color: rgb(108, 114, 132);
  margin-left: 1rem;
  font-size: 0.825rem;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: rgb(195, 197, 203);
  }
  &:active {
    color: rgb(195, 197, 203);
  }
  &:focus {
    color: rgb(195, 197, 203);
  }
}
