.list-container {
  padding: 1rem 0px;
  //   height: 100%;
  //   overflow: auto;
  .desc-set {
    cursor: pointer;
  }
  .list-icon {
    width: 39px;
  }
}

.list-label {
  background: #256ad0;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: small;
  color: #fff;
}
.list-search-container {
  border-bottom: 1px solid #40444f;
}

.list-search-input {
  padding: 0px 0 20px 0;
}

.searched-list {
  padding: 0px 0 20px 0;
}

.token-group-card {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 12px;
}

.token-list-card {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  background-color: rgb(247, 248, 250);
  transition: all 200ms ease 0s;
  -webkit-box-align: center;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
  .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
}

.btn-radio {
  border-radius: 20px;
  width: 80px !important;
  border: none;
  background: rgb(255, 255, 255);
  display: flex;
  width: fit-content;
  cursor: pointer;
  outline: none;
  padding: 0.4rem;
  -webkit-box-align: center;
  align-items: center;
  .button-on {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: rgb(56, 178, 196);
    display: inline-block;
  }
  .button-off {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: rgb(206, 208, 217);
    display: inline-block;
  }
  .radio-state {
    box-sizing: border-box;
    min-width: 0px;
    font-weight: 600;
    margin: 0px 6px;
  }
  &:focus {
    outline: none;
  }
}
.token-detail-card {
  position: absolute;
  top: -70px;
  left: 150px;
  visibility: hidden;
  button {
    border: none;
    text-decoration: none;
    background: none;
    cursor: pointer;
    color: rgb(33, 114, 229);
    font-weight: 500;
    padding: 0px;
    font-size: 1rem;
    opacity: 1;
    &:hover {
      text-decoration: underline;
    }
  }
}

.dark {
  .token-list-card {
    background: #343a40;
    color: #fff;
  }
  .token-detail-card {
    background: rgb(44, 47, 54);
  }
}

.search-token {
  input[type="text"] {
    border-color: red;
  }
  .error {
    font-weight: 600;
    font-size: 0.9rem;
    color: red;
  }
}

// Custoom Token

.custom-token-list {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 24px;
  padding: 20px;
  .token-number {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 600;
    .clear-btn {
      outline: none;
      border: none;
      font-size: inherit;
      padding: 0px;
      margin: 0px;
      background: none;
      cursor: pointer;
      float: right;
      color: rgb(33, 114, 229);
    }
  }
  .token-list {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer !important;
    &:hover{
      opacity: 0.5;
      cursor: pointer;
    }
  }
  .details {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: fit-content;
    img {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      box-shadow: #00000014 0px 6px 10px;
      background-color: rgb(255, 255, 255);
    }
    a {
      text-decoration: none;
      cursor: pointer;
      color: #007bff;
      padding-left: 10px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .action {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: fit-content;
    .delete {
      height: 16px;
      width: 18px;
      margin-left: 10px;
      stroke: rgb(136, 141, 155);
      cursor: pointer;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      display: flex;
    }
    .view {
      text-decoration: none;
      cursor: pointer;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      display: flex;
      color: rgb(33, 114, 229);
      height: 16px;
      width: 18px;
      margin-left: 10px;
    }
  }
}
