.search-token-card {
  height: 65px;
  border-radius: 16px;
  background-color: #f7f8fa;
  margin: 0.5rem 0;

  .search-token-row {
    height: 100%;
    padding: 0.5rem;
    margin: 0;
    align-items: center;

    .logo {
      height: 24px;
      width: 24px;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 10px;
      border-radius: 25px;
    }

    .details {
      .symbol {
        font-weight: 500;
        font-size: 16px;
        color: black;
        margin-right: 0.2rem;
      }
      .name {
        font-weight: 300;
        font-size: 12px;
        color: #888d9b;
      }
      .via {
        font-weight: 500;
        font-size: 11px;
        color: #888d9b;
        margin-right: 0.2rem;
      }
      .detail-img {
        height: 12px;
        width: 12px;
      }
    }

    .status {
      align-items: center;
      .tick {
        width: 18px;
        height: 18px;
        margin-right: 0.2rem;
      }
      .name {
        font-weight: 500;
        color: #27ae60;
      }
      .import-btn {
        padding: 6px 12px;
        width: fit-content;
        font-weight: 500;
        text-align: center;
        border-radius: 20px;
        outline: none;
        border: 1px solid transparent;
        text-decoration: none;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 1;
        background-color: #2b6def;
        color: white;
      }
    }
  }
}
.dark {
  .search-token-card {
    background-color: #343a40;
    .search-token-row {
      .details {
        .symbol {
          color: #fff;
        }
      }
    }
  }
}
