.App {
  // animation: ease-in-out alternate;
  // animation-name: run;
  // animation-duration: 2s;
  // background: var(--theme-page-background);
  color: var(--theme-page-text);
  font-family: "NeueHaasDisplay";
}
.app-bg {
  background: var(--theme-page-background);
  height: 100vh;
}
.bg-vector {
  height: 100%;
  &.dark {
    background-image: url("../src/assets/dark-bg.svg");
    background-repeat: repeat no-repeat;
  }
  &.light {
    background-image: url("../src/assets/light-bg.svg");
  }
}
.bg-dark {
  background-color: #2e384a !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// bootstrap default changes
.align-end {
  text-align: end;
  width: 150px;
  float: right;
}

.align-center {
  margin: auto;
}

.btn-custom-primary {
  display: block;
  width: 100%;
  background: #2f4f74;
  border-radius: 8px;
  color: white;
  padding: 0.7rem 1rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  &:hover {
    color: white;
  }
}

.btn-custom-secondary {
  background: var(--theme-button);
  color: var(--theme-page-text);
  font-weight: 900;
  font-size: smaller;
}

.btn-theme-icon {
  background: transparent;
  padding: 0.375rem;
}
.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
}
.bg-light {
  background-color: #f3f5f9 !important;
}

.spinner-border {
  width: 23px;
  height: 23px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navbar-brand-custom {
  margin-right: 2rem;
}

.nav-link {
  font-size: smaller;
}

.active {
  //   color: #4F607B !important;
  font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-icon {
  background: #f9fbfd;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 27px;
}

.switch-body {
  text-align: center;
}

.price_head {
  color: #7d7878;
}

.price_aa {
  font-size: small;
  color: var(--theme-price-text);
}
.price-list {
  margin-top: 10px;
  text-align: left;
}

.price {
  // color: #2c6def;
  float: right;
}

.walletconnect-qrcode__base {
  background: #25292e47 !important;
}

.btn-round-switch {
  border-radius: 20px;
  margin-right: 0.375rem;
  padding: 4px;
  align-items: center;
  img {
    vertical-align: middle;
    border-style: none;
    width: 30px;
    padding-right: 5px;
    padding-left: 1px;
    height: auto;
  }
  span {
    padding-right: 5px;
  }
}

.modal-switch {
  // .modal-dialog {
  //   margin: 25% auto;
  // }
  .modal-header {
    align-self: center;
    border-bottom: none;
  }
}

.btn-switch-pop {
  width: 100%;
  border-radius: 25px;
  img {
    width: 90px;
    padding: 10px;
  }
  .selected {
    width: 22px;
    height: 100%;
    padding: 2px;
  }
  .selected-div {
    background-color: var(--theme-page-background);
    display: inline-block;
    position: absolute;
    border-radius: 20px;
    padding: 0px;
    bottom: 7px;
    right: 38px;
  }
}
// .modal-wrapper {
// background: transparent !important;
// }
.approve-loader {
  position: absolute;
  right: 50px;
}
@keyframes run {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.divider {
  height: 1px;
  width: inherit;
  background-color: #4d557ed3;
}
