.App {
  // animation: ease-in-out alternate;
  // animation-name: run;
  // animation-duration: 2s;
  // background: var(--theme-page-background);
  color: var(--theme-page-text);
  font-family: "NeueHaasDisplay";
  // position: fixed;
  // width: 100%;
  // height: 100% !important;
}
.app-bg {
  background: var(--theme-page-background);
}
.height-92 {
  height: calc(92vh - 40px);
}
.height-100 {
  height: 92vh;
}
.bg-vector {
  height: 100%;
  &.dark {
    background-image: url("../src/assets/dark-bg.svg");
    background-repeat: repeat no-repeat;
  }
  &.light {
    background-image: url("../src/assets/light-bg.svg");
  }
}
.bg-dark {
  background-color: #2e384a !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.app-wallet-details {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.app-settings-group {
  display: flex;
}
.network-warning {
  text-align: center;
  font-weight: 500;
  margin: 20px 20px 0px;
  color: var(--theme-field-color);
}
.active-network {
  font-size: 13px;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  background-color: rgba(243, 132, 30, 0.05);
  // color: rgb(243, 132, 30);
  font-weight: 500;
  border-radius: 12px;
  padding: 8px 12px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// bootstrap default changes
.align-end {
  text-align: end;
  width: 150px;
  float: right;
}

.align-center {
  margin: auto;
}

.btn-custom-primary {
  display: block;
  width: 100%;
  background: #2f4f74;
  border-radius: 8px;
  color: white;
  padding: 0.7rem 1rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  &:hover {
    color: white;
  }
}

.btn-custom-secondary {
  background: var(--theme-button);
  color: var(--theme-page-text);
  font-weight: 900;
  font-size: smaller;
  border: none;
  &:hover {
    box-shadow: var(--theme-btn-hover-shadow);
  }
  &:focus {
    box-shadow: var(--theme-btn-hover-shadow);
  }
}
.btn-theme-icon-header,
.btn-theme-icon-footer {
  background: transparent !important;
  border: 0;
  padding: 0.375rem;
  width: auto;
  margin-left: 0.375rem;
  align-items: center;
}

.btn-theme-icon-footer {
  background: transparent !important;
  border: 0;
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
}
.bg-light {
  background-color: #f3f5f9 !important;
}

.spinner-border {
  width: 23px;
  height: 23px;
}
.navbar {
  // position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0.51rem 1rem;
}
.navbar-brand-custom {
  margin-right: 2rem;
}

.nav-link {
  font-size: smaller;
}

.active {
  //   color: #4F607B !important;
  font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-icon {
  background: #f9fbfd;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 27px;
}

.switch-body {
  text-align: center;
}

.price_head {
  color: #7d7878;
}

.price_aa {
  font-size: small;
  color: var(--theme-price-text);
}
.price-list {
  margin-top: 10px;
  text-align: left;
  display: grid;
  grid-template-areas: "name name name name name price";
  p {
    letter-spacing: 0.1px;
    display: inline-block;
    margin-bottom: 0;
    grid-area: name;
  }
}

.price {
  grid-area: price;
  text-align: end;
  span {
    padding-left: 2px;
  }
  img {
    padding-left: 2px;
    padding-bottom: 3px;
  }
}
.alert {
  margin-bottom: 0 !important;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #2f4774;
  // height: 64px;
  button {
    height: 100%;
  }
  p {
    margin-bottom: 0;
  }
  a {
    color: #ffc107;
    :hover {
      color: #ffc107;
    }
  }
  .close {
    height: 100%;
    color: white !important;
    font-size: 20px;
  }
  .alertext {
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.checkbox-custom {
  input[type="checkbox"] {
    height: 25px;
    width: 25px;
  }
  label {
    margin-bottom: 0;
    margin-left: 10px;
  }
}
.walletconnect-qrcode__base {
  background: #25292e47 !important;
}

.btn-round-switch {
  border-radius: 20px;
  margin-right: 0.375rem;
  padding: 4px;
  align-items: center;
  img {
    vertical-align: middle;
    border-style: none;
    width: 30px;
    padding-right: 5px;
    padding-left: 1px;
    height: auto;
  }
  span {
    padding-right: 5px;
  }
}

.btn-wallet {
  margin-right: 0.375rem;
}

.modal-switch {
  // .modal-dialog {
  //   margin: 25% auto;
  // }
  .modal-header {
    align-self: center;
    border-bottom: none;
  }
}

.btn-switch-pop {
  width: 100%;
  max-width: 171px;
  border-radius: 25px;
  img {
    width: 90px;
    padding: 10px;
  }
  .selected {
    width: 22px;
    height: 100%;
    padding: 2px;
  }
  .selected-div {
    background-color: var(--theme-page-background);
    display: inline-block;
    position: absolute;
    border-radius: 20px;
    padding: 0px;
    bottom: 7px;
    right: 38px;
  }
  &:hover {
    background: var(--theme-btn-switch-bg);
  }
}
// .modal-wrapper {
// background: transparent !important;
// }
.approve-loader {
  position: absolute;
  right: 50px;
}
@keyframes run {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.divider {
  height: 1px;
  width: inherit;
  background-color: #4d557ed3;
}

.warning-lead-text {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.75px;
}

.warning-note-text {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.75px;
}
.checkbox-custom input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

.acc-balance-header,
.acc-balance-footer {
  border-radius: 20px;
  align-items: center;
  margin-right: 0.375rem;
  padding: 7px;

  .currency {
    font-size: 0.75rem;
  }

  // &:hover {
  //   // background-color: #212429;
  // }
}

.footer-nav-bar {
  position: fixed;
  bottom: 0;
  height: 55.6px;
}

.navbar-nav {
  flex-direction: column;
}

@media only screen and (max-width: 960px) {
  .app-wallet-details-footer {
    display: flex !important;
    flex-grow: 1 !important;
    justify-content: flex-start !important;
  }
}

@media only screen and (min-width: 960px) {
  .btn-theme-icon-header {
    display: none;
  }
  .footer-nav-bar {
    display: none;
  }
  .app-wallet-details-footer {
    display: none !important;
  }
}

@media only screen and (max-width: 960px) {
  .app-wallet-details {
    display: none !important;
  }
  .navbar-expand-sm .navbar-nav {
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;
    .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  .top-nav-links {
    flex-grow: 1;
    flex-direction: column;
  }
}

@media only screen and (max-width: 720px) {
  .active-network-footer,
  .network-info-footer {
    display: none !important;
  }
}

@media only screen and (max-width: 500px) {
  .acc-balance-footer,
  .active-network-footer,
  .network-info-footer {
    display: none !important;
  }
}
